@font-face{
  font-family: Avenir Next Medium;
  src: url("fonts/AvenirNext-Medium.ttf");
}
@font-face{
  font-family: Avenir Next Bold;
  src: url("fonts/AvenirNext-Bold.ttf");
}
@font-face{
  font-family: Avenir Next DemiBold;
  src: url("fonts/AvenirNext-DemiBold.ttf");
}
* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: inherit;
  
}
a:hover {
  cursor: pointer;
}
/* .error {
  box-shadow: 0 0 5px #d45252;
  /* border-color: #b03535; */
 } */


/* главная */
.main-wrapper{
  background-image: url("img/bg-main.svg");
  background-repeat: no-repeat;
  background-size: cover;

}
.mob-menu-wrapper{
  display: none;
}
.logo--wr{
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
  max-width: 1500px;
  width: 100%;
  
}
.logo-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-words{
  margin-top: 5px;
}
.phone-wrapper{
  display: flex;
  align-items: center;
}
.phone-box{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.city{
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 22px;
  color: #404450;
  margin-bottom: 5px;

}
.number{
  font-family: Avenir Next Bold;
  font-size: 22px;
  line-height: 30px;
  color: #404450;
  margin: 0;
}
.line-phone{
  opacity: 0.2;
  border-bottom: 1px solid #404450;
  transform: rotate(90deg);
  width: 63px;
}
.main-content-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 125px;
  overflow: hidden;

}
.box-content {
  /* margin-right: -40px; */
}


.main-content{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-right: -160px;
}
.main-img-people{
  margin-right: -40px;
}
.main-title{
font-family: avenir Next Bold;
font-size: 56px;
line-height: 70px;
color: #404450;
margin: 0;
}
.main-info{
  font-family: avenir Next Medium;
  font-size: 18px;
  line-height: 70px;
  color: #404450;
  opacity: 0.8;
  margin-top: 0;
}
.bottom-box{
  display: flex;
  align-items: center;
}
.btn-blue{
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 70px;
  color: #FFFFFF;
  background: linear-gradient(284.9deg, #0E81D4 4.42%, #26A0F8 97.31%);
  box-shadow: 0px 5px 15px rgba(24, 140, 225, 0.35);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0 40px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  user-select: none;
}
.btn-clear{
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 70px;
  color: #0882DB;
  border: 1.5px solid #1993EB;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0 40px;
  height: 60px;
  display: flex;
  align-items: center;
  user-select: none;
}
/* конец главной */
/* начало второй */
.second-page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: 160px 145px;
  overflow: hidden;
  
}
.process-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 85px;
  max-width: 1500px;
  width: 100%;
  position: relative;


}
.bg-dotted{
  position: absolute;
  top: 12.5%;
  z-index: -1;
}
.bg-dotted-small{
  display: none;
}
.process-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 115px;
  width: 100%
}

.process-box:nth-child(3){
 margin-left: -155px;
  
}
.process-box:nth-child(4){
  margin: 0px 0 130px 10px;
}
.process-box:nth-child(5){
  margin: 0px 0 160px 145px;
}
.process-box:nth-child(6){
  margin: 0px 0 130px -60px;
}
.process-box:nth-child(7){
  margin: 0px 0 130px -65px;
}
.process-box:nth-child(8){
  margin: 40px 0 0px -205px;
}


.process-box:nth-child(4) .process-info-box{
  margin-left: -35px;
}
.process-box:nth-child(5) .process-info-box {
  margin-right: -35px;
}
.process-img{

}
.process-info-box{


}
.process-btn{
  border: 1.5px solid #1993EB;
  border-radius: 20px;
  font-family: avenir Next Medium;
  font-size: 14px;
  line-height: 70px;
  color: #0882DB;
  cursor: pointer;
  transition: 0.2s;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.number-process{
  font-family: Avenir Next Bold;
  font-size: 130px;
  line-height: 65px;
  color: #F1F2F5;
  height: 0px;
  margin-left: -35px;
}
.title-process{
  font-family: Avenir Next Bold;
  font-size: 40px;
  line-height: 65px;
  color: #404450;
  margin: 0;

}
.process-info{
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 22px;
  color: #404450;
  opacity: 0.7;
  max-width: 330px;
  margin-top: 30px;
}



/* конец второй */
/* третья часть */
.money-page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.money-title-box{
  display: flex;
 flex-direction: column;
 align-items: center;

}
.top-title{
  font-family: avenir Next Bold;
  font-size: 50px;
  line-height: 65px;
  color: #404450;  
  margin-bottom: 0;
}
.pretext{
  font-family: avenir Next Medium;
  font-size: 18px;
  line-height: 70px;
  color: #404450;
  opacity: 0.8;
  margin-top: 5px;
}
.money-house-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.money-house-box{
display: flex;
align-items: center;
justify-content: space-between;
background-image: url("img/line-house.svg");
background-position: center;
background-repeat: no-repeat;
max-width: 1200px;
width: 63%;
background-size: 90%;

}
.box-money{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.money{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #404450;
  border-radius: 6px;
  height: 50px;
  width: 135px;
  font-family: Avenir Next Bold;
  font-size: 25px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.95);
  position: relative;
}
.money::before{
  background: #404450;
  transform: rotate(45deg);
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  content: "";
  bottom: -9px;
}
.area{
  font-family: avenir Next Medium;
  font-size: 20px;
  line-height: 70px;
  color: #404450;
  opacity: 0.8;
  margin: -30px 0 0;
}
.area-mob {
  display: none;
  
}
/* конец третья часть */
/* 4 часть */
.fourth-page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}
.advantages-all-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
    margin-top: 90px;
    margin-bottom: 50px;
}
.advantages-wrapper{
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1190px;
width: 100%;
}
.advantages-box{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.advantages-pretext{
  font-family: avenir Next Medium;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #404450;
  opacity: 0.8;
  max-width: 275px;
  margin-bottom: 0;
}
.advantages-box:first-child .advantages-pretext{
  max-width: 240px;
}

.asterisk{
  font-family: avenir Next Medium;
  font-size: 14px;
  line-height: 19px;
  color: #9FA1A7;
  /* opacity: 0.5; */
  border: 1px solid #E5E7EC;
  border-radius: 50px;
  height: 50px;
  padding: 15px 50px;
}
.asterisk a{
  text-decoration: underline;
  margin-left: 5px;
}
.img-bg{
  background: radial-gradient(300.47px at 50% 50%, rgba(195,228,255,0.5) 0%, rgba(146,188,236,0.5) 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  height: 260px;
  padding: 20px 0 10px;
}
.advantages-box:first-child .img-bg {
justify-content: center;
padding: 0;
}
.advantages-box:nth-child(2) .img-bg {
padding: 30px 0 10px;
}

/* конец 4 части */
/* 5 часть */
.fifth-page-wrapper{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 25px;

}

.advantages-friend-all-wr{
  margin-top: 65px;
  margin-bottom: 20px;
  margin-right: -160px;

}
.advantages-friend-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 1390px;
}
.advantages-friend-box{
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-bottom: 50px;
}
.advantages-friend-text{
display: flex;
flex-direction: column;
margin-left: 20px;

}
.advantages-friend-title{
  font-family: Avenir Next DemiBold;
  font-size: 26px;
  line-height: 36px;
  color: #404450;
  margin: 0px 0 10px;

}
.advantages-friend-pretext{
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 22px;
  color: #404450;
  opacity: 0.7;
  margin: 0;
  max-width: 558px;
}
/* конец 5 части */
/* 6 часть */
.sixth-page-wrapper{
  position: relative;
  display: flex;
flex-direction: column;
align-items: center;
}
.registration-content{
  margin-top: 45px;
}
.parallelogram {
  position: absolute;
  width: 100%;
  height: 808px;
  left: 0px;
  transform: skewY(4deg);
  background: radial-gradient(559.98px at 50% 50%, #C3E4FF 0%, #92BCEC 100%);
  opacity: 0.35;
  z-index: -1;
}
.registration-top-title{
  text-align: center;
  max-width: 765px;
  margin: 40px auto 30px;
}
.registration-pretext{
font-family: avenir Next Medium;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #404450;
opacity: 0.8;
max-width: 845px;
  margin: 18px auto;
}
.registration-pretext-form {
  margin-bottom: 40px;
}
.registration-wrapper{

}
.registration--wr{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  margin-left: -50px;
}
.registration-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(0, 29, 105, 0.1);
  border-radius: 15px;
  height: 500px;
  width: 460px;
  padding: 35px 70px 0;
  margin-left: 55px;
}

.input-form-contact{
  display: flex;
  align-items: center;
  background: #F3F3F6;
  border-radius: 5px;
  font-family: avenir Next Medium;
  font-size: 14px;
  line-height: 19px;
  color: #666973;
  width: 100%;
  height: 50px;
  padding: 0 23px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  

}
.input-form-contact::placeholder{
  font-family: avenir Next Medium;
  font-size: 14px;
  line-height: 19px;
  color: #ADB2C0;
}
.button-registration{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(100.87deg, #1E9FFC 0.35%, #007AD2 100%);
  box-shadow: 0px 5px 15px rgba(2, 125, 213, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 60px;
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 20px 0 5px;
  cursor: pointer;
  user-select: none;

}
.button-registration:active {
  box-shadow: none;
}
.form-pretext{
  font-family: avenir Next Medium;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #404450;
  opacity: 0.5;
  max-width: 295px;
}
.form-pretext a{
  text-decoration: none;
  border-bottom: 0.5px solid #9FA1A6;
}
.logon{
  font-family: avenir Next Medium;
  font-size: 13px;
  line-height: 18px;
  color: #797C85;
  
}
.logon a{
  color: #0882DB;
  border-bottom: 0.5px solid #0882DB;
  text-decoration: none;
}
/* конец 6 части */
/* 7 часть-вопросы */
.question-page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.question--wrapper{
  display: flex;
  justify-content: center;
  margin: 80px 0;
  width: 100%;
}
.question-wrapper{
  width: 1200px;
}
.question-answer-box{
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.question-answer-box img{
  margin-right: 20px;
}
.question{
  background: #F3F3F6;
}
.answer{
  background: #EAF3FB;
}
.question-answer{
  position: relative;
  border-radius: 15px;
  padding: 20px 30px;
  height: 100%;
  font-family: avenir Next Medium;
  font-size: 16px;
  line-height: 22px;
  color: #737983;
  max-width: 990px;

}
.answer::before {
  transform: rotate(45deg);
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  content: "";
  background: #EAF3FB;
  top: 25px;
}
.question::before {
  transform: rotate(45deg);
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  content: "";
  background:  #F3F3F6;
  top: 25px;
}
.question-answer-box:nth-child(even) {
  justify-content: flex-end;
}
.answer a{
  text-decoration: underline;
}

/* конец вопросов  */
/* футер */
.footer-wrapper{
  border-top: 2px solid #E3E6F1;
}
.logo-wrapper-footer{
  margin: 50px 0;
  max-width: 1500px;
  width: 100%;
  padding: unset;
}
.btn-clear-footer{
padding: 0 30px;
}
.btn-blue-footer {
  margin-right: 10px;
}
.btn-blue:active {
  box-shadow: none;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo-box-footer{
display: flex;

}
.footer-bottom-box {
  margin-left: 65px;
}
.main-img-man{
  display: none;
}

/* адаптив */
@media(max-width: 1678px){

}
@media(max-width: 1365px){

}
/* мини-планшет (прописываем сюда стили для диапазона 994px - 1100)*/
@media(max-width: 1101px){

}
/* мобилка */
@media(max-width: 993px){

}

/* стас не рисовал ждля этого разрешения */
@media(max-width:359px){

}



@media (max-width: 1678px) {
  .logo-wrapper {
    width: 95%;
}
.main-title {
  font-size: 48px;
  line-height: 60px;
}
.main-img-people{
  display: flex;
  width: 49%;
  margin-right: -120px;
}
.main-img-man{
  display: none;
}
.box-content {
  margin-right: -30px;
}
.main-content {
  max-width: 1275px;
  width: 100%;
  margin-bottom: 70px;
  margin-right: 10px;
}
.main-content-wrapper {
  width: 100%;
}
.pretext {
  margin-top: 0px;
}
.second-page-wrapper {
  background-position: -110px 145px;
}
.money-house-box {
  max-width: 1170px;
  width: 100%;
}
.money-house-wrapper {
  margin-bottom: 50px;
}
.fourth-page-wrapper {
  margin-bottom: 50px;
}
.advantages-friend-pretext {
  max-width: 470px;
}
.advantages-friend-wrapper {
  width: 1235px;
}
.advantages-friend-all-wr {
  margin-right: unset;
}
.advantages-friend-box:nth-child(2) .advantages-friend-pretext{
  max-width: 500px;
}
.question-page-wrapper {
  margin-top: 80px;
}

}

@media (max-width: 1365px){
  .logo-wrapper {
    width: 93%;
}
  .main-title {
    font-size: 40px;
    line-height: 50px;
}
.main-info {
  font-size: 16px;
  margin-bottom: 5px;
}
.main-img-man {
  height: 300px;
}
.box-content {
  margin-right: -75px;
  margin-top: 35px;
}
.main-content-wrapper {
  margin-top: 95px;
}
.main-content {
  max-width: 1000px;
  margin-bottom: 50px;
}
.btn-clear {
  padding: 0 30px;
}
.city {
  font-size: 14px;
  line-height: 19px;
}
.number {
  font-size: 20px;
  line-height: 27px;
}
.logo-box img{
  width: 135px;
}
.pretext {
  margin-top: -20px;
  font-size: 16px;
  margin-bottom: 0;
}
.top-title {
  font-size: 40px;
  line-height: 53px;
}
.money-house-box {
  max-width: 1000px;
}
.money-house-wrapper {
  margin-bottom: 40px;
}
.advantages-all-wrapper {
  margin-top: 70px;
  margin-bottom: 35px;
}
.advantages-wrapper {
  max-width: 1000px;
}
.asterisk {
  font-size: 12px;
  line-height: 16px;
  padding: 15px 25px;
}
.advantages-friend-wrapper {
  width: 1020px;
}
.advantages-friend-pretext {
  font-size: 14px;
  line-height: 19px;
}
.advantages-friend-pretext {
  max-width: 390px;
}
.advantages-friend-title {
  font-size: 22px;
  line-height: 30px;
  margin: 0px 0 3px;
}
.registration-pretext {
  font-size: 16px;
  line-height: 22px;
  max-width: 815px;
}
.registration-content {
  margin-top: 10px;
}
.parallelogram {
  height: 735px;
}
.question-page-wrapper {
  margin-top: 60px;
}
.question--wrapper {
  margin: 60px 0;
}
.question-answer {
  font-size: 15px;
  line-height: 20px;
  max-width: 800px;
}
.question-wrapper {
  width: 1020px;
}
.question-answer-box:nth-child(1) .question-answer {
  max-width: 910px;
}
.question-answer-box:nth-child(6) .question-answer {
  max-width: 730px;
}
.question--wrapper {
  margin: 59px 0 20px;
}
.btn-blue-footer {
  background: unset;
  box-shadow: unset;
  color: #0A86E0;
  text-decoration-line: underline;
  padding: 0;
  margin-bottom: 20px;
  height: 16px;
  margin-top: 4px;
}
.btn-clear-footer {
  background: unset;
  box-shadow: unset;
  color: #797C84;
  text-decoration-line: underline;
  padding: 0;
  border: unset;
  height: 16px;
}
.footer-bottom-box {
  flex-direction: column;
  align-items: unset;
  margin-left: 110px;
}
.logo-wrapper-footer {
  margin: 40px 0;
  max-width: 1015px;
}
.footer-city {
  margin-top: 10px;
}
.process-box:nth-child(3) .process-img{
  width: 615px;
}
.process-box:nth-child(4) .process-img{
  width: 530px;
}
.process-box:nth-child(5) .process-img{
  width: 615px;
}
.process-box:nth-child(6) .process-img{
  width: 560px;
}
.process-box:nth-child(7) .process-img{
  width: 530px;
}
.process-box:nth-child(8) .process-img{
  width: 455px;
}
.second-page-wrapper {
  /* background-position: -140px 160px;
  background-size: 120%; */
  background-position: -145px 110px;
  background-size: 1330px 2800px;
}
.bg-dotted-small{
  display: block;
  position: absolute;
  top: 12.5%;
  z-index: -1;
}
.bg-dotted{
  display: none;
}
.process-wrapper {
  margin-top: 85px;
  margin-bottom: 45px;
}
.process-box:nth-child(3) {
  margin-bottom: 100px;
  margin-left: -100px;
}
.process-box:nth-child(4) {
  margin: 0px 0 110px 50px;
}
.process-box:nth-child(5) {
  margin: 0px 0 140px 160px;
}
.process-box:nth-child(6) {
  margin: 0px 0 110px -45px;
}
.process-box:nth-child(7) {
  margin: 0px 0 100px -30px;
}
.process-box:nth-child(8) {
  margin: 40px 0 0px -140px;
}
.process-box:nth-child(3) .process-info-box {
  margin-left: -20px;
}
.process-box:nth-child(4) .process-info-box {
  margin-left: -40px;
}
.process-box:nth-child(5) .process-info-box {
  margin-right: -85px;
}
.process-box:nth-child(6) .process-info-box {
  margin-right:  -50px;
}
.process-box:nth-child(7) .process-info-box {
  margin-left: -25px;
}
.process-box:nth-child(8) .process-info-box {
  margin-left: -15px;
}




}
@media(max-width: 1101px){
  .logo-wrapper {
    max-width: 770px;
}
.main-title {
  font-size: 32px;
  line-height: 42px;
}
.main-info {
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.box-content {
  /* max-width: 520px; */
  max-width: 450px;
  margin-right: -60px;

}
.btn-blue {
  font-size: 14px;
  line-height: 14px;
  padding: 0 30px;

}
.btn-clear {
  font-size: 14px;
  line-height: 14px;
  padding: 0 15px;
}
.main-img-man {
  height: 245px;
}
.main-content-wrapper {
  margin-top: 65px;
}
.main-content {
  margin-right: -205px;
  margin-bottom: 70px;
}
.main-img-people {
  width: 45%;
  margin-right: 0px;
}
.top-title {
  font-size: 36px;
  line-height: 65px;
}
.money-house-box {
  max-width: 795px;
  background-image: url(img/line-house-small.svg);
}
.money-house-wrapper {
  margin-bottom: 30px;
  margin-top: 40px;
}
.advantages-box img {
  width: 240px;
}
.advantages-pretext {
  font-size: 16px;
  line-height: 22px;
  max-width: 240px;
}
.advantages-wrapper {
  max-width: 765px;
}
.advantages-all-wrapper {
  margin-top: 30px;
  margin-bottom: 40px;
}
.asterisk {
  height: 65px;
  max-width: 695px;
  text-align: center;
  padding: 15px 70px;
}
.advantages-friend-all-wr {
  margin-top: 30px;
}
.advantages-friend-box img{
  display: none;
}
.advantages-friend-title {
  font-size: 20px;
  line-height: 27px;
}
.advantages-friend-box {
  margin-bottom: 25px;
}
.advantages-friend-wrapper {
  width: 785px;
}
.top-title {
  font-size: 36px;
  line-height: 46px;
  max-width: 670px;
  text-align: center;
}
.pretext {
  margin-top: -10px;
}
.registration-pretext {
  max-width: 735px;
  margin: 0;
  }
.registration-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration-pretext-form {
  margin-bottom: 40px;
}
.registration-box {
  height: 475px;
  width: 370px;
  padding: 35px 40px 0;
  margin-left: 25px;
  margin-top: 12px;
}
.registration--wr img {
  width: 47%;
  margin-top: -10px;
}
.parallelogram {
  height: 710px;
}
.logon {
  margin: 13px -6px;
}
.question-wrapper {
  width: 765px;
}
.question-answer {
  max-width: 600px;
}
.question-answer-box:nth-child(3) .question-answer {
  max-width: 810px;
}
.question-answer-box:nth-child(6) .question-answer {
  max-width: 565px;
}
.question-answer-box:nth-child(8) .question-answer {
  max-width: 700px;
}
.question-answer-box:nth-child(10) .question-answer {
  max-width: 575px;
}
.question-answer-box:nth-child(even) {
  margin-bottom: 60px;
}
.question--wrapper {
  margin: 59px 0 -10px;
}
.footer-number {
  font-size: 16px;
  line-height: 22px;
}
.footer-city {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.logo-img-footer img{
  width: 115px;
}
.footer-bottom-box {
  margin-left: 55px;
}
.footer-bottom-box {
  margin-left: 55px;
}
.btn-blue-footer {
  padding: 0;
}
.btn-clear-footer {
  padding: 0;
}
.process-box:nth-child(3) .process-img {
  width: 540px;
}
.process-box:nth-child(4) .process-img {
  width: 460px;
}
.process-box:nth-child(5) .process-img {
  width: 540px;
}
.process-box:nth-child(6) .process-img {
  width: 490px;
}
.process-box:nth-child(7) .process-img {
  width: 465px;
}
.process-box:nth-child(8) .process-img {
  width: 395px;
}
.title-process {
  font-size: 28px;
}
.process-info {
  font-size: 14px;
  line-height: 19px;
  max-width: 272px;
  margin-top: 10px;
  margin-bottom: 17px;
}
.process-box:nth-child(3) .process-info {
  max-width: 325px;
}
.process-box:nth-child(6) .process-info {
  max-width: 260px;
}
.number-process {
  font-size: 100px;
  margin-left: -32px;
}
.bg-dotted-small {
  display: none;
}
.process-wrapper {
  background-image: url(img/bg-dotted--small.png);
  background-repeat: no-repeat;
  background-position: 290px 300px;
  margin-top: 50px;
  margin-bottom: 65px;
}
.process-box:nth-child(3) .process-info-box {
  margin-left: -35px;
}
.process-box:nth-child(4) .process-info-box {
  margin-left: -35px;
}
.process-box:nth-child(5) .process-info-box {
  margin-right: -45px;
}
.process-box:nth-child(6) .process-info-box {
  margin-right: -60px;
}
.process-box:nth-child(7) .process-info-box {
  margin-left: -15px;
}
.process-box:nth-child(8) .process-info-box {
  margin-left: -20px;
}
.process-info-box {
  margin-bottom: 40px;
}
.process-box:nth-child(3) {
  margin-bottom: 85px;
  margin-left: -70px;
}
.process-box:nth-child(4) {
  margin: 0px 0 100px 30px;
}
.process-box:nth-child(5) {
  margin: 0px 0 125px 160px;
}
.process-box:nth-child(6) {
  margin: 0px 0 100px 10px;
}
.process-box:nth-child(7) {
  margin: 0px 0 85px -30px;
}
.second-page-wrapper {
  /* background-position: -170px 45px;
  background-position: -145px 105px;
  background-size: 115%; */
  background-position: -145px 75px;
  background-size: 1140px 2400px;
}
.img-bg {
  width: 240px;
  height: 240px;
}
.advantages-box img {
  width: 195px;
}
.advantages-box:nth-child(2) .img-bg img:nth-child(1){
  width: 50px;
}
.advantages-box:nth-child(3) .img-bg img:nth-child(1){
  width: 43px;
}
.advantages-box:nth-child(2) .img-bg img:nth-child(2){
  width: 240px;
}
.advantages-box:nth-child(3) .img-bg img:nth-child(2){
  width: 190px;
}


}
@media(min-width: 1366px) {
  .btn-blue:hover{
    font-family: avenir Next Medium;
    background: linear-gradient(284.9deg, #0e8ce0 4.42%, #26a6ff 97.31%);
    box-shadow: 0 5px 15px rgba(24, 140, 225, 0.25);
  }
  .btn-clear:hover{
    font-family: avenir Next Medium;
    color: #0896ef;
    border: 1.5px solid #19a3ff;
  }
}
@media(max-width: 993px){
  .main-title {
    font-size: 26px;
    line-height: 36px;
    max-width: 280px;
}
.main-info {
  font-size: 14px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 28px;
  
}
.box-content {
  max-width: 315px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 55px;
}
.btn-clear{
  display: none;
}
.main-content-wrapper {
  margin-top: 0;
}
.main-content {
  flex-direction: column-reverse;
  margin: 0;
  max-width: 350px;
  margin-top: 45px;
}
br {
  display: none;
}
.main-img-people {
  width: 105%;
}
.main-img-man {
  height: 165px;
}
.main-wrapper {
  background-image: url(img/bg-main-mob.png);
  background-size: 100% 100%;

}
.top-title {
  font-size: 26px;
  line-height: 36px;
  max-width: 330px;
}
.pretext {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  text-align: center;
  max-width: 310px;
}
.money-house-box {
  max-width: 250px;
  background-image: url(img/line-house-mob.svg);
  flex-direction: column;
  background-size: unset;
  background-position-x: 50px;
}
.area {
  display: none;
}
.area-mob {
  display: flex;
  font-family: avenir Next Medium;
  font-size: 18px;
  line-height: 20px;
  color: #404450;
  opacity: 0.8;
  margin: 10px 0 0;
}
.money-area-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-top: 4px;
}
.money img {
  width: 130px;
}
.money {
  height: 40px;
  width: 120px;
  font-size: 20px;
  line-height: 25px;
}
.money::before {
  width: 15px;
  height: 15px;
  bottom: unset;
  left: -5px;
}
.box-money {
  flex-direction: row-reverse;
  margin-bottom: -15px;
}
.box-money img{
  width: 60%;
}
.money-house-wrapper {
  margin-top: 15px;
}
.advantages-wrapper {
  max-width: 360px;
  flex-direction: column;
}
.advantages-box:first-child .advantages-pretext {
  max-width: 210px;
}
.advantages-box {
  margin-top: 30px;
}
.advantages-pretext {
  margin-bottom: 10px;
}

.asterisk {
  height: auto;
  max-width: 330px;
  padding: 20px 25px;
}
.advantages-all-wrapper {
  margin-top: 10px;
  margin-bottom: 30px;
}
.advantages-friend-box img {
  display: block;
  margin-bottom: 10px;
}
.advantages-friend-box {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}
.advantages-friend-text {
  margin-left: 0;
}
.advantages-friend-title {
  margin: 0px 0 5px;
}
.advantages-friend-box:nth-child(2) .advantages-friend-pretext {
  max-width: 310px;
}
.advantages-friend-pretext {
  max-width: 328px;
}
.advantages-friend-all-wr {
  margin-bottom: 0px;

}
.advantages-friend-wrapper {
  
  /* max-width: 350px; */
    width: 100%;
    /* flex-direction: column;
    align-items: center; */
}
.registration-pretext {
  max-width: 330px;
  margin: -10px 0 0;
  font-size: 14px;
  line-height: 19px;
}
.registration--wr {
  flex-direction: column;
  margin-top: 45px;
  margin-left: 0;
}
.registration--wr img {
  width: 340px;
  margin-top: -30px;
}
.registration-box {
  height: 465px;
  width: 330px;
  padding: 35px 30px 0;
  margin-left: 0;
  margin-top: -53%;
}
.parallelogram {
  height: 930px;
}
.registration-pretext-form {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 22px;
  margin: 0 -5px 40px;
}
.logon {
  font-size: 12px;
  line-height: 16px;
}
.button-registration {
  margin: 10px 0 5px;
}
.question-page-wrapper {
  margin-top: 40px;
}
.question-answer-box img {
  margin-right: 12px;
  width: 35px;
}
.question-answer {
  font-size: 14px;
  line-height: 19px;
  max-width: 280px;
  padding: 10px 20px;
}
.question-answer-box {
  margin-bottom: 20px;
}
.question-answer-box:nth-child(even) {
  margin-bottom: 40px;
}
.question-answer-box:nth-child(1) .question-answer{
  max-width: 280px;
}
.question-answer:nth-child(even) {
  max-width: 260px;
}
.question-answer-box:nth-child(6) .question-answer ,
.question-answer-box:nth-child(8) .question-answer,
.question-answer-box:nth-child(10) .question-answer   {
  max-width: 260px;
}
.question-wrapper {
  width: 330px;
}
.question--wrapper {
  margin: 30px 0 10px;
}
.question::before {
  top: 15px;
}
.answer::before {
  top: 15px;
}
.logo-wrapper-footer {
  flex-direction: column;
  max-width: 340px;
  align-items: center;
  margin-top: 30px;
  width: 95%;
}
.btn-clear-footer {
  display: flex;
  margin-right: -6px;
}
.footer-bottom-box {
  margin-left: 45px;
}
.line-phone {
  width: 45px;
  margin: 0px -10px;
}
.phone-box {
  align-items: flex-start;
}
.logo-box-footer {
  margin-bottom: 30px;
}
.mob-menu-wrapper {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 5;
}
.logo--wr{
  display: none;
}
.mob-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(46, 116, 168, 0.12);
  height: 50px;
  width: 100%;
  padding: 0 0 0 15px;
}
.mob-icon-menu{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.link-header{
  display: block;
}
.logo-img-main{
  width: 105px;

}
.icon-menu-box{
  display: flex;
  justify-content: center;
  border-right: 1px solid #E2E3E5;
  height: 100%;
  cursor: pointer;
  width: 50px;


}
.link-header:nth-child(3) .icon-menu-box{
  border-right: none;
}
.icon-img-menu{
 
}
.second-page-wrapper {
  background: unset;
}
.process-wrapper {
  background: unset;
  margin-top: 35px;
  margin-bottom: 0px;
}
.process-box {
  flex-direction: column;
}
.title-process {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.process-box:nth-child(3) .process-img {
  width: 340px;
}
.process-box:nth-child(3) {
  margin-bottom: 0;
  margin-left: 0;
}
.number-process {
  font-size: 60px;
  margin-left: 0;
  text-align: center;
  height: unset;
  margin-bottom: -30px;
}

.process-box:nth-child(4) .process-img {
  width: 295px;
}

.process-box:nth-child(n){
  margin: 0;
  margin-bottom: 40px;
}
.process-box:nth-child(5) .process-img {
  width: 360px;
}
.process-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-box:nth-child(6) .process-img {
  width: 360px;
}
.process-box:nth-child(7) .process-img {
  width: 350px;
}
.process-box:nth-child(8) .process-img {
  width: 290px;
}
.process-box:nth-child(5),
.process-box:nth-child(6) {
  flex-direction: column-reverse;
}
.process-box:nth-child(n) .process-info {
  max-width: 295px;
  text-align: center;
}
.process-box:nth-child(n) .process-info-box{
  margin: -5px 0 0 0;
}
.process-btn {
  margin-bottom: 20px;
}
.btn-blue {
  margin-right: 0;
}
}